* { box-sizing: border-box }
body {
  background: url(http://www.johnsoncontrols.com/apps/jci/docroot/images/bg.png) repeat-x #eee;
  color: #555;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  margin: 0px;
  padding: 0;
  text-align: center;
}
form {
  position: relative;
}
.button {
  background-image: url(http://www.johnsoncontrols.com/apps/jci/docroot/images/menubg.png);
  background-size: 100% 100%;
  border-radius: 8px;
  border: 0;
  color: #fff;
  font-size: 20px;
  height: 42px;
  padding: 11px;
	position: relative;
	overflow: hidden;
	margin: 80px auto;
  text-align: center;
  width: 90%;
}
.error {
  color: #c00;
  display: none;
  font-weight: bold;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}
.logo {
  margin: 20px 0 80px 0;
}
#click-upload-container {
  display: none;
}
#selected-file-container {
  display: none;
}
#upload-button {
  display: none;
}
#upload-container {
  font-size: 20px;
}
